# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/

# SQLite DB (if used)
*.sqlite3
*.db

# VSCode settings
.vscode/

# Environment vars
.env

# Static + Media (if collected/generated)
staticfiles/
media/
